a:link, a:visited { text-decoration: none; color:black; }

a:hover, a:active { text-decoration: none; color: #cccc00; }


#henrik {
  border-radius: 50%;
  width: 50%;
}


#contact  {
  margin-bottom:50px;
}

#productspec {
  margin-bottom:100px;
}

#news {
  margin-bottom:100px;
}