<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/" style="font-size: 0.9em">BrandEye Sales & Partner</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/brandeye/#about">Om Oss</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/brandeye/slider">Pure Concept</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/brandeye/blanco">Blanco Niño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/brandeye/contact">Kontakt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/brandeye/news">Nyheter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
