<% include ./partials/header.ejs %>

<body>
  <div class="container">

    <div class="main-option-container">
      <a class="btn btn-success btn-xl" href="/starcraft/slump"><i class="fa fa-random" aria-hidden="true"></i>
        Slumpen</a>
      <a class="btn btn-success btn-xl" href="/starcraft/stats"><i class="fa fa-pie-chart" aria-hidden="true"></i>
        Stats</a>
      <a class="btn btn-success btn-xl" href="/starcraft/register"><i class="fa fa-book" aria-hidden="true"></i>
        Reggning</a>
    </div>
</body>

<script src="js/assets/jquery-3.3.1.min.js"></script>
<script src="js/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>

</html>