<%include ./partials/header.ejs %>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="top-charts" style="display: none">
  <div class="team-text-container">
    <h2 class="team-text">Lagstats</h2>
  </div>
  <!-- style="display: none" -->
  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>

  <div class="chart-container">
    <p class="chart-label" style="display: none" id="larzons">Larzons</p>
    <canvas id="line-chart"></canvas>
    <p class="chart-label" style="display: none" id="nymmsons">Nymsons</p>

  </div>

</div>
<div class="pie-charts-container" style="display: none">
  <div class="pie-charts-player-container">
    <div class="player-text-container">
      <h2 class="player-text">Hatten</h2>
    </div>
    <div class="pie-chart-container"><canvas id="Hatten-Zerg"></canvas></div>
    <div class="pie-chart-container"><canvas id="Hatten-Protoss"></canvas></div>
    <div class="pie-chart-container"><canvas id="Hatten-Terran"></canvas></div>
  </div>
  <div class="pie-charts-player-container">
    <div class="player-text-container">
      <h2 class="player-text">Larzon</h2>
    </div>
    <div class="pie-chart-container"><canvas id="Larz-Zerg"></canvas></div>
    <div class="pie-chart-container"><canvas id="Larz-Protoss"></canvas></div>
    <div class="pie-chart-container"><canvas id="Larz-Terran"></canvas></div>
  </div>

  <div class="pie-charts-player-container">
    <div class="player-text-container">
      <h2 class="player-text">Korben</h2>
    </div>
    <div class="pie-chart-container"><canvas id="Korben-Zerg"></canvas></div>
    <div class="pie-chart-container"><canvas id="Korben-Protoss"></canvas></div>
    <div class="pie-chart-container"><canvas id="Korben-Terran"></canvas></div>
  </div>
  <div class="pie-charts-player-container">
    <div class="player-text-container" style="justify-content:start">
      <h2 class="player-text">Danne</h2>
    </div>
    <div class="pie-chart-container"><canvas id="Danne-Terran"></canvas></div>
  </div>
</div>

<div class="spinner-container">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<script src="./js/charts/bar.js"></script>

<script>
  //Spinnerheight/width
  var height = window.innerHeight - 100;
  document.querySelector(".spinner-container").style.height = `${height}px`;
  // document.querySelector(".chart-container").style.height = `${height/2}`;
  // document.querySelector(".spinner-container").style.width = document.querySelector(".chart-container").style.width = `${window.innerWidth - 50}px` ;


</script>
<%include ./partials/footer.ejs %>