<% include ./partials/header.ejs %>
<link rel="stylesheet" href="css/landing.css">
    <!-- Landing Page -->
    <div class="container">
        <div class="landing">
            <h1>Statistik</h1>
            <h3>Välj hur du vill se statistiken</h3>
            <a class="btn btn-success" href="/statsTotal"><i class="fas fa-chart-pie"></i> Total</a>
            <a class="btn btn-success"  href="/statsMonth"><i class="fas fa-chart-pie"></i> Månad</a>
            <a class="btn btn-success" href="/statsWeek"><i class="fas fa-chart-pie"></i> Vecka</a>
            <a class="btn btn-danger" href="/statsVroom"><i class="fas fa-car"></i></i> Vroom</a> 
        </div>
    </div>

    </div>

    <!-- //Landing Page -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>