<a class="btn btn-primary" href="/pingis/history"><i class="fas fa-chart-pie"></i> Historik</a>
<a class="btn btn-primary" href="/pingis/statsTotal"><i class="fas fa-chart-pie"></i> Total</a>
<a class="btn btn-primary"  href="/pingis/statsMonth"><i class="fas fa-chart-pie"></i> Månad</a>
<a class="btn btn-primary" href="/pingis/statsWeek"><i class="fas fa-chart-pie"></i> Vecka</a>
<a class="btn btn-danger" href="/pingis/statsVroom"><i class="fas fa-car"></i> Vroom</a> 