<% include ./partials/cssLinks %>
	<% include ./partials/header %>
		<link href="css/full-slider.css" rel="stylesheet">
		<link href="css/slider.css" rel="stylesheet">

		<link rel="stylesheet" href="css/sortiment.css">
		<!-- Page Content -->
		<div class="container">

			<h1 class="my-4 text-center text-uppercase text-lg-left">Produkter</h1>
			<div class="container">

				<div class="card-deck">
					<!-- Start card 1-->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card 1-->
					<!-- Start card 2-->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card 2-->
					<div class="w-100 d-none d-sm-block d-md-none">
						<!-- wrap every 2 on sm-->
					</div>

					<!-- Start card 3-->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card 3-->
					<div class="w-100 d-none d-md-block d-lg-none">
						<!-- wrap every 3 on md-->
					</div>
					<!-- Start card 4-->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card 4-->
					<div class="w-100 d-none d-sm-block d-md-none">
						<!-- wrap every 2 on sm-->
					</div>
					<div class="w-100 d-none d-lg-block d-xl-none">
						<!-- wrap every 4 on lg-->
					</div>
					<!-- Start card 5-->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card 5-->
					<div class="w-100 d-none d-xl-block">
						<!-- wrap every 5 on xl-->
					</div>

					<!-- Start card 6-->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card 6-->
					<div class="w-100 d-none d-sm-block d-md-none">
						<!-- wrap every 2 on sm-->
					</div>
					<div class="w-100 d-none d-md-block d-lg-none">
						<!-- wrap every 3 on md-->
					</div>
					<!-- Start card 7 -->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card 7-->
					<!-- Start card 8-->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card 8-->
					<div class="w-100 d-none d-sm-block d-md-none">
						<!-- wrap every 2 on sm-->
					</div>
					<div class="w-100 d-none d-lg-block d-xl-none">
						<!-- wrap every 4 on lg-->
					</div>
					<!-- Start card 9-->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card 9-->
					<div class="w-100 d-none d-md-block d-lg-none">
						<!-- wrap every 3 on md-->
					</div>
					<!-- Start card -->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card -->
					<div class="w-100 d-none d-sm-block d-md-none">
						<!-- wrap every 2 on sm-->
					</div>
					<div class="w-100 d-none d-xl-block">
						<!-- wrap every 5 on xl-->
					</div>
					<!-- Start card -->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card -->
					<!-- Start card -->
					<div class="card mb-4">
						<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Produkt 1</p>
						</div>
					</div>
					<!-- END card -->
					<div class="w-100 d-none d-sm-block d-md-none">
						<!-- wrap every 2 on sm-->
					</div>
					<div class="w-100 d-none d-md-block d-lg-none">
						<!-- wrap every 3 on md-->
					</div>
					<div class="w-100 d-none d-lg-block d-xl-none">
						<!-- wrap every 4 on lg-->
					</div>
				</div>
			</div>
		</div>

		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<%include ./partials/footer %>