<% include ./partials/cssLinks %>
  <% include ./partials/header %>
    <link href="css/full-slider.css" rel="stylesheet">
    <link href="css/slider.css" rel="stylesheet">

    <link rel="stylesheet" href="css/sortiment.css">
    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4 text-center text-uppercase text-lg-left">Produkter</h1>

      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="card">
            <div class="card-img-top">
              <img class="img-fluid" src="/img/rena-placeholder.jpg" alt="">
            </div>
            <div class="card-body">
              <p>Produkt 1</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="card">
            <div class="card-header">
              <img class="img-fluid" src="/img/rena-placeholder.jpg" alt="">
            </div>
            <div class="card-body">
              <p class="card-title">Produkt 1</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="card">
            <div class="card-header">
              <img class="img-fluid" src="/img/rena-placeholder.jpg" alt="">
            </div>
            <div class="card-body">
              <p>Produkt 1</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="card">
            <div class="card-header">
              <img class="img-fluid" src="/img/rena-placeholder.jpg" alt="">
            </div>
            <div class="card-body">
              <p>Produkt 1</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="/img/rena-placeholder.jpg" alt="">
          </a>
        </div>
      </div>

    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <%include ./partials/footer %>