<% include ./partials/cssLinks %>
  <%include ./partials/header %>
    <link href="css/full-slider.css" rel="stylesheet">
    <link href="css/slider.css" rel="stylesheet">
    <!-- <link href="css/pure.css" rel="stylesheet"> -->

    <!-- VAFAN? -->

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/img/carousel1.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h3>First Slide</h3> -->
              <!-- <p>This is a description for the first slide.</p> -->
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/img/carousel2.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h3>Second Slide</h3> -->
              <!-- <p>This is a description for the second slide.</p> -->
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/img/carousel3.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h3>Third Slide</h3> -->
              <!-- <p>This is a description for the third slide.</p> -->
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- About -->
    <section id="pure">
      <div class="container" id="info">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading text-uppercase">
              <strong>Pure Concept</strong>
            </h1>
            <h4 class="section-subheading text-muted">Livsmedelspureér färdiga att ätas eller som komponent i din matlagning.</h4>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="text-center" style="color:coral">
              <a href="/rena">
                <h2>
                  <strong>Enkelkomponentiga</strong>
                </h2>
              </a>
            </div>
            <div class="card">
              <div class="card-header text-center">
                <a href="/rena">
                  <img class="card-img" src="/img/rena.jpg" alt="rena" />
                </a>
              </div>
              <div class="card-body">
                <h4>
                  <strong>Rena produkter</strong>
                </h4>
                <p>Våra rena produkter är gjorda med en specifik ingrediens och skapar således en tydlig smak med härlig färskhet.</p>
                <li>Frukter</li>
                <li>Bär</li>
                <li>Grönsaker</li>
                <li>Kött</li>
                <li>Fisk</li>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="text-center" style="color:coral">
              <a href="/recept">
                <h2>
                  <strong>Recept</strong>
                </h2>
              </a>
            </div>
            <div class="card">
              <div class="card-header text-center">
                <a href="/recept">
                  <img class="card-img" src="/img/recept.jpg" alt="recept" />
                </a>
              </div>
              <div class="card-body">
                <h4>
                  <strong>Produkter via recept</strong>
                </h4>
                <p>Våra produkter via recept är gjorda från era specifikationer för att ha en omatchad färskhet.
                </p>
                <li>Cocktails</li>
                <li>Smoothies</li>
                <li>Juicer</li>
                <li>Såser</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <%include ./partials/footer %>