<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BrandEye</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/png" href="/img/favicon-diamond.ico" />

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Egna*** -->
  <!-- Font för pure -->
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/creative.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">BrandEye</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Om Oss</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#pure">Pure Concept</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#blanco">Blanco Niño</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Kontakt</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="la.jpg" alt="Los Angeles">
        </div>
        <div class="carousel-item">
          <img src="chicago.jpg" alt="Chicago">
        </div>
        <div class="carousel-item">
          <img src="ny.jpg" alt="New York">
        </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    
    </div>

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <!-- <strong><i class="fa fa-diamond fa-3x mb-3 sr-contact"></i>BrandEye</strong> -->
            <strong>
              <i class="fa fa-diamond mb-3 sr-contact"></i> BrandEye</strong>
          </h1>

          <h2 class="text-uppercase">
            <strong>Matkoncept för framtiden</strong>
          </h2>
          <br>
        </div>
        <div class="col-lg-8 mx-auto">
          <!-- <p class="text-faded mb-5">BrandEye can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Mer Information</a>
        </div>
      </div>
    </div>
  </header>



  <!-- <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Tillgängliga koncept för <strong>dig</strong></h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Högsta Standard</h3>
              <p class="text-muted mb-0">Våra produkter håller absolut högsta standard.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Redo att Skeppas</h3>
              <p class="text-muted mb-0">Vår produktion går för högvarv och har produkter klara att skickas!</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Senaste Modet</h3>
              <p class="text-muted mb-0">Få det senaste inom matvärlden, direkt till kunden</p>
            </div>
          </div>
          <!-- <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Made with Love</h3>
              <p class="text-muted mb-0">You have to make your websites with love these days!</p>
            </div>
          </div> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- </section> -->

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white text-uppercase">
            <strong>BrandEye Sales & Partners</strong>
          </h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">BrandEye Sales & Partners bildades i Helsingborg 2017 av ett par kollegor i branschen som under sin yrkesverksamma
            tid sett marknadens behov av alternativa lösningar och produkter inom såväl det färska som frysta segmentet.
            <br>
            <br> BrandEyes styrka är vår mångåriga globala erfarenhet i branschen där vi skapat ett gediget kontaktnät hos både
            producenter och kunder. Vi har god kännedom om såväl marknadens som enskilda kunders krav på kvalitet, miljötänk
            och servicenivå.
          </p>
          <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"><i class="fa fa-plus-circle fa-3x" style="color:white"></i></a> -->
          <!-- <a href="#portfolio" class="btn js-scroll-trigger"><i class="fa fa-plus-circle fa-3x" style="color:white"></i></a> -->
        </div>
      </div>
    </div>
  </section>


  <section id="contact">


  <!-- TEST CONTACT -->
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
              <div class="panel panel-default">
                <div class="panel-body text-center">
                  <h2>Adress</h2>
                  <hr class="my-4">
                  <div>
                    Brandeye Sales & Partner
                    <br> Ladugatan 13
                    <br> 25448 Helsingborg
                    <br>
                    <br>
                  </div>
                  <div id="map1" class="map">
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="col-md-6">
        <div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                <h2>Frågor?</h2>
                <hr class="my-4">
                <p class="mb-5">Vid frågor om våra produkter och eventuella kontakter, hör av er till oss genom mail eller telefon. Vi svarar
                  på alla frågor!
              </div>
            </div>
            <div class="ml-auto text-center">
                <a href="tel:+46739173488"><i class="fa fa-phone fa-3x mb-3 sr-contact"></i></a><br>
              <!-- <p>+46 (0)73 917 3488</p> -->
              <a href="tel:+46739173488">+46 (0)73 917 3488</a><br>
              <hr>
            </div>
            <div class="mr-auto text-center">
                <a href="mailto:henrik@brandeyesales.com"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i></a>
              <p>
                <a href="mailto:henrik@brandeyesales.com">Henrik Mauritzon</a>
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>



    <style>
      .map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
      }

      .header {
        background-color: #F5F5F5;
        color: #36A0FF;
        height: 70px;
        font-size: 27px;
        padding: 10px;
      }
    </style>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="js/map.js"></script>
    <script type="text/javascript">
      jQuery(function ($) {
        function init_map1() {
          var myLocation = new google.maps.LatLng(56.0813249,12.7021321);
          var mapOptions = {
            center: myLocation,
            zoom: 16
          };
          var marker = new google.maps.Marker({
            position: myLocation,
            title: "Property Location"
          });
          var map = new google.maps.Map(document.getElementById("map1"),
            mapOptions);
          marker.setMap(map);
        }
        init_map1();
      });
    </script>

</body>

</html>