html { overflow-y: scroll; }

body { padding-top: 70px; }

body {
    background-image: url(../img/foosball.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.tusen:hover {
    transform: scale(1.5);
    
    /* margin: 10%; */
}

.tusen i:hover {
    /* transform: scale(1.5); */
    color: gold;
    /* margin: 10%; */
}

.btn {
    margin: 2px;
}