<% include ./partials/cssLinks %>
<% include ./partials/header %>
<!-- Custom styles for this template -->
<link href="css/creative.css" rel="stylesheet">

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <!-- <strong><i class="fa fa-diamond fa-3x mb-3 sr-contact"></i>BrandEye</strong> -->
          <strong>
            <i class="fa fa-diamond mb-3 sr-contact"></i> BrandEye</strong>
        </h1>

        <h2 class="text-uppercase">
          <strong>Concept & Convenience</strong>
        </h2>
        <br>
      </div>
      <div class="col-lg-8 mx-auto">
        <!-- <p class="text-faded mb-5">BrandEye can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Mer Information</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white text-uppercase">
          <strong>BrandEye Sales & Partners</strong>
        </h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">BrandEye Sales & Partners bildades i Helsingborg 2017 av ett par kollegor i branschen som under sin yrkesverksamma
          tid sett marknadens behov av alternativa lösningar och produkter inom såväl det färska som frysta segmentet.
          <br>
          <br> BrandEyes styrka är vår mångåriga globala erfarenhet i branschen där vi skapat ett gediget kontaktnät hos
          både producenter och kunder. Vi har god kännedom om såväl marknadens som enskilda kunders krav på kvalitet,
          miljötänk och servicenivå.
        </p>
        <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"><i class="fa fa-plus-circle fa-3x" style="color:white"></i></a> -->
        <!-- <a href="#portfolio" class="btn js-scroll-trigger"><i class="fa fa-plus-circle fa-3x" style="color:white"></i></a> -->
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.min.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<%include ./partials/footer %>