<% include ./partials/cssLinks %>
	<% include ./partials/header %>
		<link href="css/full-slider.css" rel="stylesheet">
		<link href="css/slider.css" rel="stylesheet">
		<!-- <link href="css/footerProdukter.css" rel="stylesheet"> -->
		<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script> -->

		<link rel="stylesheet" href="css/sortiment.css">
		<!-- Page Content -->
		<div class="container">
				
			<h1 class="my-4 text-center text-uppercase text-lg-left"> Produkter</h1>

			<div class="card-deck">
				<!-- Start card 1-->
				<div class="card mb-4">
					<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"><i class="far fa-file-pdf"></i> Produkt 1</p>
					</div>
				</div>
				<!-- END card 1-->
				<!-- Start card 2-->
				<div class="card mb-4">
					<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"><i class="far fa-file-pdf"></i> Produkt 1</p>
					</div>
				</div>
				<!-- Start card 3-->
				<div class="card mb-4">
					<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"><i class="far fa-file-pdf"></i> Produkt 1</p>
					</div>
				</div>
				<!-- END card 3-->

				<!-- Start card 4-->
				<div class="card mb-4">
					<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"><i class="far fa-file-pdf"></i> Produkt 1</p>
					</div>
				</div>
			</div>
			<!-- END card 4-->
			<div class="card-deck">
				<!-- Start card 5-->
				<div class="card mb-4">
					<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"><i class="far fa-file-pdf"></i> Produkt 1</p>
					</div>
				</div>
				<!-- END card 5-->
				<!-- Start card 6-->
				<div class="card mb-4">
					<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"><i class="far fa-file-pdf"></i> Produkt 1</p>
					</div>
				</div>
				<!-- END card 6-->

				<!-- Start card 7 -->
				<div class="card mb-4">
					<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"><i class="far fa-file-pdf"></i> Produkt 1</p>
					</div>
				</div>
				<!-- END card 7-->
				<!-- Start card 8-->
				<div class="card mb-4">
					<img class="card-img-top img-fluid" src="/img/rena-placeholder.jpg" alt="Card image cap">
					<div class="card-body">
						<p class="card-text"><i class="far fa-file-pdf"></i> Produkt 1</p>
					</div>
				</div>
				<!-- END card 8-->

			</div>
			<!-- END card -->

		</div>


		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		
		
		<%include ./partials/footer %>