<a class="btn btn-success" href="/foosball/slump"><i class="fas fa-random"></i> Slumpa Lag</a>
<a class="btn btn-success"  href="/foosball/statLanding"><i class="fas fa-chart-pie"></i> Se Statistik</a>
<a class="btn btn-success" href="/foosball/register"><i class="fas fa-sign-in-alt"></i> Regga Match</a>