<a class="btn btn-success" href="/foosball/history"><i class="fas fa-chart-pie"></i> Historik</a>
<a class="btn btn-success" href="/foosball/statsTotal"><i class="fas fa-chart-pie"></i> Total</a>
<a class="btn btn-success"  href="/foosball/statsMonth"><i class="fas fa-chart-pie"></i> Månad</a>
<a class="btn btn-success" href="/foosball/statsWeek"><i class="fas fa-chart-pie"></i> Vecka</a>
<a class="btn btn-danger" href="/foosball/statsVroom"><i class="fas fa-car"></i> Vroom</a> 