/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px 'PT Sans', sans-serif;
	color: #555;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #3f51b5;
	opacity: 1;
	display: inline;
	margin: 0 3px
}

a.btn:hover {
	background-color: #3647aa;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
	border-bottom: 1px solid #ccc;
}

section:not(.hero):nth-child(odd) {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #3f51b5;
	border: 0;
	margin-bottom: 30px;
}

section h3.title {
	text-transform: uppercase;
	font: bold 32px "PT Sans", sans-serif;
	margin-bottom: 30px;
	
	text-align: center;
}
section h4.title {
	text-transform: uppercase;
	font: bold 26px "PT Sans", sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}


@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/*Header Styles*/
.btns {
	display: flex;
}

header {
	margin-top: 50px;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "PT Sans", sans-serif;
}


@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
}

.hero img {
	margin: 0 auto;
	width: 50%;
	border-radius: 50%;
}

.hero h1 {
	font: bold 60px "PT Sans", sans-serif;
	margin-bottom: 15px;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.hero h3 {
	font: normal 28px "PT Sans", sans-serif;
	margin-bottom: 40px;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	margin: 0 auto;
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}
	.hero h1 {
		font-size: 40px;
	}
	.hero h3 {
		font-size: 24px;
	}
	.hero a.btn {
		padding: 15px 40px;
	}
}

/*Knowledges section*/
.packages .grid .courses {
	height: 140px;
	width: 235px;
	padding: 30px;
	text-align: center;
}

.packages .courses a {
	width: 240px;
	text-align: center;
	opacity: 1;
	margin: 5px;
}

.packages .courses a:hover {
	border:1px #ccc solid;
	background-color: #eee;
	border-radius: 10%
}

.packages .courses .sidetext {
	/* transform: rotateX(90deg); */
	width: 30px;
}

.packages .tech li {
	height: 130px;
	width: 130px;
	padding: 30px;
	text-align: center;
}

.packages .grid a {
	color: #555;
	text-align: center;
}

.packages .grid i {
	font-size: 40px;
}

.packages .grid .fontawesome {
	margin: 8px;
}

/* Hover effects li:s */

.packages .grid li:hover {
	/* border: solid #f5f5f5ec 1px; */
	border-radius: 10px;
	color: #3f51b5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.packages .grid li:hover>i {
	font-size: 42px;
	transition: ease-in-out 0.0s;
}

/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #607d8b;
	color: #fff;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}
	footer p {
		text-align: center;
		margin-bottom: 20px;
	}
	footer ul li {
		margin: 0 8px;
	}
}

/* Projects section */
div.itemcontainer {
	background-color: white;
	max-width: 450px;
	padding: 10px;
	align-items: center;
	border: 2px solid #ccc;
	border-radius: 15px;
	text-align: justify;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
	margin: 10px;
}

.itemcontainer h2 {
	font-size: 20px;
}

div.item {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 220px;
	max-width: 510px;
	width: 100%;
	background: #000000;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.item * {
	box-sizing: border-box;
}

div.item img {
	max-width: 100%;
	vertical-align: top;
	max-height: 600px;
}

div.item .link-i {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	font-size: 34px;
	color: #000000;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #ffffff;
	cursor: pointer;
}

div.item.blue {
	background-color: #34495e;
}

div.item.blue .link-i {
	color: #34495e;
}

div.item.orange {
	background-color: #d1843b
}

div.item.orange .link-i {
	background-color: #d1843b
}

div.item.red {
	background-color: #e74c3c;
}

div.item.red .link-i {
	color: #e74c3c;
}

div.item.green {
	background-color: #16a085;
}

div.item.green .link-i {
	color: #16a085;
}

div.item:hover img {
	opacity: 0.3;
	filter: grayscale(100)
}

div.item * {
	transition: all 0.3s ease-in-out;
}

div.item:hover .link-i {
	transform: translate(-50%, -50%) scale(1);
}

div.item .link-i {
	transform: translate(-50%, -50%) scale(0);
}

div.item .imageoverlay {
	position: absolute;
	top: 8px;
	left: 16px;
}

@media (max-width: 768px) {
	.item {
		font-size: 10px;
	}
}

/* Sticky navbar */

.topnav {
    background-color: white;
	overflow: visible;
	width: 100%;
	position: fixed;
	z-index: 999;
	border-bottom: solid #ccc 1px
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .rightside {
	float: right;
}

.topnav .container {
	margin: 0 15% ;
}

@media (max-width:500px) {
	.topnav a {
		font-size: 13px;
	}
	.topnav .container {
		margin: 0 ;
	}
}

/* CV */

#cv {
	background-image: url('../../../portfolio/assets/img/bg/what-the-hex.png');
}

.attached{
	border-top: #999 1px solid;
	border-left:  #999 1px solid;
	border-right:  #999 1px solid;
	border-bottom:  white 1px solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 24px;
	padding: 5px;
	margin: 0;
	background-color: white;
	box-sizing: border-box;
	z-index: 99;
	width: 40%;
	text-align: center
} 

/* TEST */

main {
	background-color: white;
	border-spacing: border-box;
	border: 1px solid #999;
	border-radius: 5px;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
	width: 60%;
	margin-bottom: 30px;
}

main h4 {
	text-align: center;
	font-size: 20px;
}
.flex-grid{
	display: flex;
	padding: 5px;
	
}

hr.divider {
	width: 100%;
	height: 1px;
	background-color: #ccc;
	border: 0;
	margin: 10px 0;

}
.work-title {
	background-color: rgb(233, 233, 233);
	padding: 10px;
	border-bottom: #aaa solid 1px;
	border-top: 1px #ccc solid;
}

.cv-left-align {
    flex-basis: 25%;
    order: -1;
	flex-grow: 1;

}
.work-title img {
	max-width: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

.dates {
	padding: 5px;
	font-size: 12px;
	background: #000000;
	color: white;
	border-radius: 3px;
	text-align: center;
	margin: 0 10%;
}

.place {
	padding: 5px;
	font-size: 12px;
	background: #666;
	color: white;
	border-radius: 3px;
	text-align: center;
	margin: 0 20%;
}

.cv-main-align {
    flex-basis: 75%;
	flex-grow: 4;
	text-align: justify;
	padding: 0px 5px;
}

.cv-container {
	background-color: white;
	border-spacing: border-box;
	padding: 10px;
	border: 1px solid #999;
	border-radius: 5px;
	box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.br-on-mobile {
    display: none;
}

@media (max-width:850px) {
	.br-on-mobile {
        display: static;
	}
	
	main {
		width: 95%
	}
	main p {
		font-size: 12px;
		text-align: left;
	}
	main h3 {
		font-size: 16px;
	}
	.cv-container {
		width: 90%
	}
	.attached{ 
		width: 60%;
		font-size: 18px;
	}
	.dates {
		margin: 0 3%;
		font-size: 10px;
	}
	
	.place {
		margin: 0 6%;
		font-size: 10px;
	}
	.itemcontainer h2 {
		font-size: 20px;
	}
	.cv-main-align {
		text-align: left;
	}
}