<% include ./partials/header.ejs %>
<link rel="stylesheet" href="css/slump.css">
<!-- Register Page -->
<div class="container">
    <div class="register">

        <div id="slump" class="slump">
        </div>
        <script>
            function shuffle(array) {
                var i = array.length,
                    j = 0,
                    temp;

                while (i--) {

                    j = Math.floor(Math.random() * (i + 1));

                    // swap randomly chosen element with current element
                    temp = array[i];
                    array[i] = array[j];
                    array[j] = temp;

                }

                return array;
            }

            var ranNums = shuffle([
                "<img src=img/Spelare/olakarlsson.jpg> Åla<br>",
                "<img src=img/Spelare/davidcarlsson.jpg> DC Carlsson<br>",
                "<img src=img/Spelare/jonathanhedenbergh.jpg> Lilljuzz Hedenberg 57%<br>",
                "<img src=img/Spelare/sarahartwig.jpg> $ara Hartwig<br>",
                "<img src=img/Spelare/jesperkjellström.jpg> Papa Juzzi 59%<br>",
                "<img src=img/Spelare/patriknilsson.jpg> Putt Nilsson<br>",
                "<img src=img/Spelare/patriknilsson.jpg> Dragongball Jeremic<br>",
                "<img src=img/Spelare/gustavstenberg.jpg> Guzzi Bolltapp<br>",
                "<img src=img/Spelare/helenapixsjö.jpg> Helena Vinnarlake<br>",
                "<img src=img/Spelare/evelinalundgren.jpg> Evelina Lundgren<br>",
                "<img src=img/Spelare/christoffer_bengtsson.jpg> Kryckan Bengtsson<br>",
                "<img src=img/Spelare/patriknilsson.jpg> Larsson Joakim<br> ",
                "<img src=img/Spelare/tobbesparge.jpg> Combaek Többe<br>",
                "<img src=img/Spelare/girlgeneric.png> Tove Grimslätt<br>"

            ]);
            document.getElementById("slump").innerHTML = ranNums;
        </script>
        <hr>
        <input type="button" class="btn btn-primary btn-block" value="Slumpa om" onClick="window.location.reload()">
    </div>
</div>
<!-- //Register Page -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>