<a class="btn btn-primary" href="/carlpong/slump"><i class="fas fa-random"></i> Slumpa Lag</a>
<a class="btn btn-primary"  href="/carlpong/statLanding"><i class="fas fa-chart-pie"></i> Se Statistik</a>
<a class="btn btn-primary" href="/carlpong/register"><i class="fas fa-sign-in-alt"></i> Regga Match</a>