<a class="btn btn-primary" href="/carlpong/history"><i class="fas fa-chart-pie"></i> Historik</a>
<a class="btn btn-primary" href="/carlpong/statsTotal"><i class="fas fa-chart-pie"></i> Total</a>
<a class="btn btn-primary"  href="/carlpong/statsMonth"><i class="fas fa-chart-pie"></i> Månad</a>
<a class="btn btn-primary" href="/carlpong/statsWeek"><i class="fas fa-chart-pie"></i> Vecka</a>