<% include ./partials/header.ejs %>
<link rel="stylesheet" href="css/stats.css">
<link rel="stylesheet" href="css/chart.css">
    <!-- Register Page -->
    <div class="container">
        <div class="register">
            <h1>Historik</h1>
            <% include ./partials/buttons.ejs %>
            <hr>
            <h2>Veckoliga</h2>
            <div class="chart" id="vecko_chart" ></div>
            <h2>Månadsliga</h2>
            <div class="chart" id="månad_chart" ></div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="js/charts.js"></script>

</body>

</html>