<% include ./partials/header.ejs %>
<link rel="stylesheet" href="css/stats.css">
    <!-- Register Page -->
    <div class="container">
        <div class="register">
            <h1>Månadsligan</h1>
            <% include ./partials/buttons.ejs %>
            
            <table class="columns">
                <tr>
                    <td><div id="Sarah_chart_div" ></div></td>
                    <td><div id="Anthony_chart_div" ></div></td>
                </tr>
            </table>

        </div>
    </div>
    
    <!-- //Register Page -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Mina script -->
    <script src="js/chart.js"></script>

</body>

</html>