<% include ./partials/header.ejs %>
    <link rel="stylesheet" href="css/stats.css">
    <link rel="stylesheet" href="css/slumpAlt.css">
    <!-- Register Page -->
    <div class="container">
        <div class="register">
            <h1>
            <i class="fas fa-random    "></i> Spelarslumpen</h1>
            <div class="row">
                <% data.forEach(player => { %>

                    <div class="col-lg-4 player">
                        <i class="fas fa-user-secret fa-3x"></i>
                        <br>
                        <%= player.Spelare %>
                    </div>
                <% }) %>
            </div>

        <button id="slump" class="btn btn-info btn-block" role="button">Slumpa</button>
    </div>
    </div>
    <!-- //Register Page -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/slump.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    </body>

    </html>