
.register {
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
    margin-top: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 50px;
}

hr {
    opacity: 0;
}

@media (max-width: 768px) {
    .register {
        padding: 10px;
    }
    .register h1{
        font-size: 24px;
    }
    .register table {
            table-layout:fixed;
        }
        
    .register table td {
        white-space: pre-wrap;        
        text-overflow: clip
    }
    hr {
        opacity: 1;
        margin-top: 15%
    }
}



.chart {
    width: 100%; 
    min-height: 450px;
}
.row {
    margin:0 !important;
}

