<a class="btn btn-success" href="/padel/history"><i class="fas fa-chart-pie"></i> Historik</a>
<a class="btn btn-success" href="/padel/statsTotal"><i class="fas fa-chart-pie"></i> Total</a>
<a class="btn btn-success"  href="/padel/statsMonth"><i class="fas fa-chart-pie"></i> Månad</a>
<a class="btn btn-success" href="/padel/statsWeek"><i class="fas fa-chart-pie"></i> Vecka</a>
<a class="btn btn-danger float-right" href="/padel/statsVroom"><i class="fas fa-car"></i> Vroom</a> 