<a class="btn btn-success" href="/padel/slump"><i class="fas fa-random"></i> Slumpa Lag</a>
<a class="btn btn-success"  href="/padel/statLanding"><i class="fas fa-chart-pie"></i> Se Statistik</a>
<a class="btn btn-success" href="/padel/register"><i class="fas fa-sign-in-alt"></i> Regga Match</a>