html {
    margin: 0;
    height: 100%;
}

.register {
    font-family: "Raleway", sans-serif;
    margin: 0 auto;
    margin-top: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 50px;
}

.slump {
    margin: auto 0;
}

hr {
    margin: 30px 0px;
    border: 2px solid white;
}

img {
    height: 40px;
    border-radius: 100%;
    margin: 3px;
}