<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Olas portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="assets/font-mfizz-2.4.1/font-mfizz.css">
    <link rel="stylesheet" href="assets/css/modal.css">
    <link rel="stylesheet" href="assets/css/projects.css">
    


</head>

<body>
    <header>
        <!--<h2>-->
        <!--    <a href="#">-->
        <!--        <i class="far fa-paper-plane"></i> Olas Webbutveckling</a>-->
        <!--</h2>-->
        <!-- <nav>
            <li>
                <a href="#projects">Projekt</a> </li>
            <li>
                <a href="#">Kontakt</a> </li>
        </nav> -->
    </header>

    <section class="hero">
        <div class="background-image" style="background-image: url(assets/img/background2.jpg);" )></div>
        <div class="hero-content-area">

            <h1>Olas Webbutveckling</h1>
            <br>
            <a href="mailto:ola.anders.karlsson@gmail.com" class="btn">Kontakta mig</a>
        </div>
    </section>




    <section class="projects">
        <h3 class="title">Projekt</h3>
        <hr>
        <div class="item red" class="modalTrigger">
            
            <img src="assets/img/brandeye.jpg" />
            <h2 id="image-overlay" style="position: absolute;bottom: 8px;left: 16px;color:#eee"><i class="fab fa-html5"></i> <i class="fab fa-css3"></i> <i class="fab fa-js"></i> BrandEye </h2> 
                <a href="/brandeye"><i class="fa fa-camera link-i"></i></a>
        </div>
    
        <div class="item blue" class="modalTrigger">
             <img src="assets/img/foosball.jpg" />
             <h2 id="image-overlay" style="position: absolute;bottom: 8px;left: 16px;color:#eee"><i class="fab fa-html5"></i> <i class="fab fa-css3"></i> <i class="fab fa-js"></i> <i class="icon-mongodb mfizz"></i>                <i class="icon-nodejs mfizz"></i>
                 Foosball Command Center </h2> 
             <a href="/foosball"><i class="fas fa-futbol link-i"></i></a>
        </div>

        <div class="item blue" class="modalTrigger">
             <img src="assets/img/mathubben.jpg" />
             <h2 id="image-overlay" style="position: absolute;bottom: 8px;left: 16px;color:#eee"><i class="fab fa-html5"></i> <i class="fab fa-css3"></i> <i class="fab fa-js"></i> <i class="icon-nodejs mfizz"></i>
                 Mathubben </h2> 
             <a href="/mathubben"><i class="fas fa-chart-line link-i"></i></a>
        </div>

        <!-- <ul class="grid">
            <li id="brandeye" class="brandeye" style="background-image: url(assets/img/brandeye.jpg);"></li>
            <li class="foosball" style="background-image: url(assets/img/foosball.jpg);"></li>
            <li class="schedule" style="background-image: url(assets/img/scheduele.jpg);"></li>
            <li class="statistics" style="background-image: url(assets/img/statistics.jpg);"></li>
        </ul> -->

    </section>

    <section class="packages">

        <h3 class="title">Teknologi</h3>

        <hr>

        <ul class="grid">

            <li>
                <i class="fab fa-html5"></i>
                <h4 class="fontawesome">HTML5</h4>
            </li>

            <li>
                <i class="fab fa-css3-alt"></i>
                <h4 class="fontawesome">CSS</h4>
            </li>
            <li>
                <i class="fab fa-js"></i>
                <h4 class="fontawesome">Javascript</h4>
            </li>
            <li>
                <i class="icon-mongodb mfizz"></i>
                <h4>MongoDB</h4>
            </li>
            <!-- <li>
                <i class="icon-reactjs mfizz"></i>
                <h4>React JS</h4>
            </li> -->
            <li>
                <i class="icon-python mfizz"></i>
                <h4>Python</h4>
            </li>

            
            <li>
                <i class="icon-nodejs mfizz"></i>
                <h4>Node JS</h4>
            </li>

            <li>
                <i class="fas fa-file-excel"></i>
                <h4 class="fontawesome">Excel VBA</h4>
            </li>


        </ul>
    </section>
    <footer>
        <p>Du kan även kontakta mig via linkedin</p>
        <ul>
            <!-- <li>
                <a href="#">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li> -->
            <li>
                <a href="https://www.linkedin.com/in/ola-karlsson-9593423b/">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>